.env
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

__pycache__/
REPORTS
media/
OCR_TEST_CASES/REPORTS
OCR_TEST_CASES/env_t
node_modules
dist
dist-ssr
*.local


